@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   @apply bg-gray-900 text-white;
}

@layer utilities {
   .text-balance {
      text-wrap: balance;
   }
   .responsive-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(324px, 1fr));
      gap: 1rem;
   }
}
